{% extends 'base.html' %}


{% block content %}
    <h1>Добавить продукт</h1>
    <form action="{% url 'post_create'%}" method="POST">
        {% include 'partials/create_update_form.html' with button_text="Создать"%}
    </form>
{% endblock %}