{% extends 'base.html'%}

{% block content%}
    <div class="card" width="25 rem;">
        <div class="card-body">
            <h1>
                Вы уверены что хотите удалить запись <i>"{{post.title}}"</i>?
            </h1>
            <form action="{% url 'post_delete' post.pk %}" method="POSt">
                {% csrf_token%}
                <button type="submit" class="btn btn-success">Подтвердить</button>
                <a href="{% url 'post_detail' post.pk %}" class="btn btn-light">Удалить</a>
            </form>
        </div>
    </div>
{%endblock%}