{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{ post.title }}</h1>
    <p>{{ post.description }}</p>
    <p>Состав: {{ post.composition }}</p>
    <div>
        Автор: {{ post.author.username }}<br>
        Дата создания: {{ post.created_at|date:"d M Y" }}
    </div>
    <div>
        Тэги:
        {% for tag in post.tags.all %}
            #{{ tag.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </div>

    <!-- Форма для интересно -->
    <form action="{% url 'post_detail' post.pk %}" method="POST" style="margin-top: 20px;">
        {% csrf_token %}
        <input type="hidden" name="action" value="increment_interest">
        <button type="submit" class="btn btn-info">Интересно</button>
    </form>
    <p>Количество интересов: {{ post.interest_count }}</p>

    <!-- Кнопки управления -->
    {% if perms.TTE.change_post %}
        <a href="{% url 'post_update' post.pk %}" class="btn btn-primary">Редактировать</a>
    {% endif %}
    {% if perms.TTE.delete_post %}
        <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger">Удалить</a>
    {% endif %}

    <!-- Комментарии -->
    <h3>Комментарии:</h3>
    {% for comment in comments %}
        <div class="card">
            <div class="card-body">
                <p class="card-text">{{ comment.text }}</p>
                <footer class="blockquote-footer">{{ comment.author }}</footer>
                <small>{{ comment.created_at|date:"d M Y" }}</small>
            </div>
        </div>
    {% endfor %}
    <div class="card my-4">
        <div class="card-body">
            <h4>Добавить комментарий:</h4>
            <form action="{% url 'comment_create' post.pk %}" method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn btn-success">Добавить комментарий</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
