<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home_page' %}">Главная</a>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'post_list' %}"> Публикации</a>
                    <a class="nav-link active" aria-current="page" href="{% url 'title_list'%}">Список продуктов</a>
                    <a class="nav-link active" aria-current="page" href="{% url 'title_create'%}">Добавить продукт</a>
                    <a class="nav-link active" aria-current="page" href="{% url 'post_create' %}">Добавить публикацию</a>
                    <a class="nav-link active" aria-current="page" href="#">Узнать тип кожи</a>
            </div>
            <div class="d-flex">
                {% if not request.user.is_authenticated %}
                <a class="btn btn-outline-success btn-sm me-3" aria-current="page" href="{% url 'login'%}?next={{request.get_full_path}}">Login</a>
                <a class="btn btn-outline-secondary btn-sm" aria-current="page" href="{% url 'register'%}?next={{request.get_full_path}}">Регистрация</a>
                {%else%}
                    <div class="d-flex align-items-center me-3">
                        Здравствуйте,<a href="{%url 'user_detail' user.pk %}">{{user.username}}</a>
                    </div>
                    <a class="btn btn-outline-danger btn-sm" aria-current="page" href="{% url 'logout'%}?next={{request.get_full_path}}">Logout</a>
                {%endif%}
            </div>
        </div>
    </div>
</nav>
