{% if is_paginated %}
    {% include 'partials/pagination.html' %}
{% endif %}

{% for post in posts %}
    <div class="box">
        <h3><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h3>

        <div>
            <a href="{% url 'user_detail' post.author_id %}">{{ post.author }}</a>
            {{ post.created_at|date:"d.m.Y H:i:s" }}
        </div>
        <div>Published at: {{ post.updated_at|date:"d.m.Y H:i:s" }}</div>
        
        {% if perms.posts.change_post or post.author == request.user %}
            <div><a href="{% url 'post_update' post.pk %}">Редактировать</a></div>
        {% endif %}
        {% if perms.posts.delete_post or post.author == request.user %}
            <div><a href="{% url 'post_delete' post.pk %}">Удалить</a></div>
        {% endif %}
    </div>
{% empty %}
    <h2 class="text-center">Нет постов</h2>
{% endfor %}

{% if is_paginated %}
    {% include 'partials/pagination.html' %}
{% endif %}
