{% extends 'base.html' %}

{% block title %}Изменить пароль{% endblock %}
{% block user_menu %}
    <a href="{% url 'user_detail' user_obj.pk %}" class="btn btn-outline-primary">Назад</a>
  
{% endblock %}

{%block content%}
    <h1>Изменить пароль</h1>
    {% url 'password_change' as action_url %}
    {% include 'partials/user_forms.html' with action_url=action_url form_method='POST'%}

{%endblock%}