{% extends 'base.html' %}

{% block content %}
    <h1>Registration</h1>
    <form action="{% url 'register' %}?next={{request.GET.next}}" method="POST">
        {% csrf_token%}
        {% include 'partials/create_update_form.html' with button_text="Register" %}
    </form>

{% endblock%}