{% extends 'base.html' %}

{% block title %}Редактировать профиль{% endblock %}
{% block user_menu %}
    <a href="{% url 'user_detail' user_obj.pk %}" class="btn btn-outline-primary">Назад</a>
  
{% endblock %}


{% block content %}
    <h1>Редактировать профиль</h1>
    <form action="{% url 'user_edit' %}" method="POST" enctype="multipart/form-data" class="w-50">
        {%csrf_token%}
        {% include 'partials/user_forms.html' with form=form fields_only=True %}
        {% include 'partials/user_forms.html' with form=profile_form fields_only=True %}
        <button type="submit" class="btn btn-primary">Редактировать</button>
    </form>

{% endblock %}