{% extends 'base.html' %}
{% load static %}

{% block title %}Профиль пользователя{% endblock %}
{% block user_menu %}
    <a href="{% url 'user_edit' %}" class="btn btn-outline-primary">Редактировать профиль</a>
    <a href="{% url 'password_change' %}" class="btn btn-outline-primary">Изменить пароль</a>
{% endblock %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: start; margin-top: 20px;">
    <div>
        {% if user_obj.profile.avatar %}
            <img src="{{ user_obj.profile.avatar.url }}" alt="User avatar" style="width: 180px; height: auto; margin-top: 20px; border-radius: 50%;">
        {% else %}
            <img src="{% static 'images/noname.png' %}" alt="No avatar available" style="width: 180px; height: auto; margin-top: 20px; border-radius: 50%;">
        {% endif %}
    </div>
    <div style="margin-left: 20px;"> <!-- Добавить небольшой отступ между изображением и текстом -->
        <h1>{{ user_obj.get_full_name|default:user_obj.username }}</h1>
        <p><b>Имя пользователя:</b> {{ user_obj.username }}</p>
        <p><b>Имя:</b> {{ user_obj.first_name }}</p>
        <p><b>Фамилия:</b> {{ user_obj.last_name }}</p>
        <p><b>Дата рождения:</b> {{ user_obj.profile.birth_date|date:"d.m.Y" }}</p>
        <p><b>Почта:</b> {{ user_obj.email }}</p>
    </div>
</div>

<h2 class="text-center">Ваши посты</h2>
{% include 'partials/post_list.html' %}
{% endblock %}
