
.gray_font{
    color: gray;
}

.red_border {
    border: 2px solid red;
}

.fs-12 {
    font-size: 12px;
}



.img-responsive {
    width: 300px; 
    height: auto; 
}

.home_page_slider{
    background-image: url(https://cosmetea.com.ua/image/catalog/kosmetika.jpeg);
    height: 500px;
    background-size: cover;
    background-position-y: -100px;
}

.text-center {
    text-align: center;
}

.avatar {
    display: inline-block;
    width: 200px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .sidebar {
      display: none;
    }
    .main-content {
      width: 100%;
    }
  }
  