{% extends 'base.html' %}

{% block content %}
<div class="home_page_slider"></div>
<h1>Welcome to TTE! Here find you everything about Cosmetics</h1>
<img src="https://cosmetea.com.ua/image/catalog/kosmetika.jpeg" alt="" style="width: 100%; height: auto;">

<div style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
  <div class="card" style="width: 300px; min-height: 450px; margin: 20px; border: 1px solid #ccc; box-shadow: 0 2px 5px rgba(0,0,0,0.1); padding: 20px; display: flex; flex-direction: column; align-items: center;">
    <img src="https://hb-shop.by/assets/images/statji/kak-pravilno-nanosit-krem-na-lico-i-scheu.jpg" alt="" style="width: 100%; height: auto; max-height: 200px;">
    <h5 class="card-title" style="margin-top: 20px;">Правило как правильно наносить крема</h5>
    <p class="card-text" style="text-align: center; margin-top: auto;">Важно знать, чтобы кожа была свежей и красивой!</p>
    <a href="https://www.livemaster.ru/topic/2479127-kak-pravilno-nanosit-krem-na-litso-bazovye-printsipy" class="btn btn-success" style="margin-top: 20px;">Перейти</a>
  </div>
  <div class="card" style="width: 300px; min-height: 450px; margin: 20px; border: 1px solid #ccc; box-shadow: 0 2px 5px rgba(0,0,0,0.1); padding: 20px; display: flex; flex-direction: column; align-items: center;">
    <img src="https://lulul.ru/wp-content/uploads/2011/06/otistit_lico.jpg" alt="" style="width: 100%; height: auto; max-height: 200px;">
    <h5 class="card-title" style="margin-top: 20px;">Информация о пищевых продуктах</h5>
    <p class="card-text" style="text-align: center; margin-top: auto;">Не забываем, питание играет большую роль.</p>
    <a href="https://clinikadoctordent.com/about/articles/pravilnoe_pitanie_dlya_kozhi_litsa/" class="btn btn-success" style="margin-top: 20px;">Перейти</a>
  </div>
</div>
{% endblock %}
