{% extends 'base.html' %}


{% block content %}
<div class="card mb-5">
    <div class="card-body">
        <form action="{% url 'comment_create' post.pk%}" method="POSt">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-success">Добавить комментарий</button>
        </form>
    </div>
</div>
{%endblock%}