{% extends 'base.html'%}

{% block content%}
    <h1>Создать Пост</h1>
    <form action="{%url 'title_create'%}" method="POST">
        {% include 'partials/create_update_form.html' with button_text="Создать" %}
    </form>
{% endblock %}