{% extends 'base.html' %}
{% load static %}


{% block css %} 
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
   
   
    <div class="list-group mt-5">
        {% for title in titles %}
                <ul class="list-group mb-3">
                    <li class="list-group-item list-group-item-action d-flex justify-content-between">
                        <div>{{title}}</div>
                        <div>
                            {% if perms.TTE.change_title %}
                                <a href="{% url 'title_update' title.pk %}" class="btn btn-outline-primary btn-sm">
                                    Редактировать
                                </a>
                            {%endif%}
                            {% if perms.TTE.delete_title %}
                                <a href="{% url 'title_delete' title.pk %}" class="btn btn-outline-danger btn-sm">
                                    Удалить
                                </a>
                            {%endif%}
                        </div>
                    </li>
 
                </ul>
        {%endfor%}
    </div>
    {% include 'partials/pagination.html'%}
   
{%endblock%}