{% extends 'base.html'%}

{% block content%}
    <h1>Создать Пост</h1>
    <form action="{%url 'title_update' title.pk %}" method="POST">
        {% include 'partials/create_update_form.html' with button_text="Редактировать" %}
    </form>
{% endblock %}